<!DOCTYPE html>
<html>
    <head>
        <title>Данные о семье с ЦКС</title>
        <link rel="stylesheet"
              href="{{ url_for('static',filename='dist/css/output.css') }}" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>
    <body class="font-sans subpixel-antialiased text-lg">
        <div class="form-container flex flex-col">
            <form class="shrink-0 w-2/5 my-2 py-2 px-24 space-y-2 rounded-lg mx-auto shadow-lg border-2 border-sky-500 flex flex-col"
                  method="POST" action="/family">
                <label class="px-4" for="data">Введите ИИН:</label>
                <input type="text"
                       id="data"
                       name="data"
                       value="{{ request.form.get('data', '') }}"
                       class="px-4 py-2 border-2" />
                <input class="hidden" type="submit" />
                <button class="px-4 py-1 font-semibold bg-sky-300 rounded-lg hover:text-white hover:bg-sky-400 hover:border-transparent hover:text-slate-800 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"
                        type="submit"
                        value="Submit">Запросить</button>
            </form>
            {% if error %}
                <div class="error w-1/6 py-1 mx-auto text-center font-bold bg-red-600 border-2 rounded-lg text-amber-200">
                    {{ error }}
                </div>
            {% endif %}
        </div>
        {% if family %}
    <a href="download_csv" class="absolute bottom-0 right-0 mr-8 mb-6 text-6xl text-green-500 hover:text-green-600"><i class="fa fa-download" aria-hidden="true"></i></a>
            <div class="family-portrait w-10/12 mx-auto flex justify-items-center space-x-4">
                <div class="container basis-1/3">
                    {% if family['Члены семьи'] %}
                        <div class="info-container min-w-s basis-1/3">
                            <div class="header pb-1 mb-1 font-bold text-center border-b-2 border-b-sky-500">Члены семьи</div>
                            {% for member in family['Члены семьи'] %}
                                {% if loop.index == 1 %}
                                    <div class="member row flex font-semibold">
                                        <div class="basis-1/3">{{ member['ИИН'] }}</div>
                                        <div class="fullName self-start text-right basis-2/3">{{ member['ФИО'] }}</div>
                                    </div>
                                {% else %}
                                    <div class="member row flex">
                                        <div class="basis-1/3">{{ member['ИИН'] }}</div>
                                        <div class="fullName self-start text-right basis-2/3">{{ member['ФИО'] }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="container basis-2/3 flex flex-wrap space-x-4">
                    {% if family['Общие сведения'] %}
                        <div class="info-container w-64 flex-none min-w-s place-self-start basis-1/3">
                            <div class="header pb-1 mb-1 font-bold text-center border-b-2 border-b-sky-500">Общие сведения</div>
                            {% for key, value in family['Общие сведения'].items() %}
                                <div class="row flex">
                                    <div class="basis-2/5">{{ key }}</div>
                                    <div class="basis-3/5 self-start text-right">{{ value }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if family['Доход за квартал'] %}
                        <div class="info-container w-64 flex-none min-w-s place-self-start basis-1/3">
                            <div class="header pb-1 mb-1 font-bold text-center border-b-2 border-b-sky-500">Доход за квартал</div>
                            {% for key, value in family['Доход за квартал'].items() %}
                                <div class="row flex">
                                    <div class="basis-2/3">{{ key }}</div>
                                    <div class="num basis-1/3 self-start text-right">{{ value }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if family['Активы семьи'] %}
                        <div class="info-container w-64 flex-none min-w-s place-self-start basis-80">
                            <div class="header pb-1 mb-1 font-bold text-center border-b-2 border-b-sky-500">Активы семьи</div>
                            {% for key, value in family['Активы семьи'].items() %}
                                <div class="row flex">
                                    <div class="basis-2/3">{{ key }}</div>
                                    <div class="basis-1/3 self-start text-right">{{ value }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if family['Рекомендации'] %}
                        <div class="info-container w-64 flex-none min-w-s place-self-start basis-40">
                            <div class="header pb-1 mb-1 font-bold text-center border-b-2 border-b-sky-500">Рекомендации</div>
                            <div class="items flex flex-col">
                                {% for elem in family['Рекомендации'] %}
                                    <div>
                                        <i class="fa fa-check text-green-500" aria-hidden="true"></i> {{ elem }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if family['Риски'] %}
                        <div class="info-container w-64 flex-none min-w-s place-self-start basis-1/3">
                            <div class="header pb-1 mb-1 font-bold text-center border-b-2 border-b-sky-500">Риски</div>
                            <div class="items flex flex-col">
                                {% for elem in family['Риски'] %}<div>{{ elem }}</div>{% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if family['Социальные статусы (кол-во человек)'] %}
                        <div class="info-container w-64 flex-none min-w-s place-self-start basis-80">
                            <div class="header pb-1 mb-1 font-bold text-center border-b-2 border-b-sky-500">Соц. статусы (кол-во чел.)</div>
                            {% for key, value in family['Социальные статусы (кол-во человек)'].items() %}
                                <div class="row flex">
                                    <div class="basis-2/3">{{ key }}</div>
                                    <div class="basis-1/3 self-start text-right">{{ value }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <script src="{{ url_for('static', filename='js/loaded.js') }}"></script>
            {% endif %}
            <script src="{{url_for('static', filename='js/script.js')}}"></script>
        </body>
    </html>
