<!DOCTYPE html>
<html>
    <head>
        <title>Данные о семье с ЦКС</title>
        <link rel="stylesheet"
              href="{{ url_for('static',filename='dist/css/output.css') }}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        {% block input %}{% endblock %}
        {% block family_container %}{% endblock %}
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </body>
</html>
