<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

<div class="form-container">
  <form method="POST" action="">
    <label for="data">Введите ИИН:</label>
    <input type="text" id="data" name="data", value="{{ request.form.get('data', '') }}">
    <button type="submit" value="Submit">Submit</button>
  </form>
  {% if error %}
  <div class="error">{{ error }}</div>
  {% endif %}
</div>

{% if family %}
<div class="family-portrait">
  <div class="col-30 info">
    <div class="row header">Состав семьи:</div>
    {% for member in family['members'] %}

    <div class="row flex-row family-member">

      {% if loop.index == 1 %}
      <div class="column col1 head">{{member['iin']}}</div>
      <div class="column col2 head">{{member['full_name']}}</div>
      {% else %}
      <div class="column col1">{{member['iin']}}</div>
      <div class="column col2">{{member['full_name']}}</div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="col-30">
      <div class="info">
        <div class="row header">Общие сведения:</div>
        <div class="row flex-row general-info-element">
          <div class="column col1">{{family['member_cnt']['name']}}</div>
          <div class="column col2">{{family['member_cnt']['value']}}</div>
        </div>
        <div class="row flex-row general-info-element">
          <div class="column col1">{{family['child_cnt']['name']}}</div>
          <div class="column col2">{{family['child_cnt']['value']}}</div>
        </div>
        <div class="row flex-row general-info-element">
          <div class="column col1">{{family['family_level']['name']}}</div>
          <div class="column col2">{{family['family_level']['value']}}</div>
        </div>
        <div class="row flex-row general-info-element">
          <div class="column col1">{{family['address']['name']}}</div>
          <div class="column col2">{{family['address']['value']}}</div>
        </div>
      </div>
      <div class="info">
        <div class="row header">Активы семьи:</div>
        <div class="row flex-row assets-info-element">
          <div class="column col1">{{family['land_cnt']['name']}}</div>
          <div class="column col2">{{family['land_cnt']['value']}}</div>
        </div>
        <div class="row flex-row assets-info-element">
          <div class="column col1">{{family['emp_cnt']['name']}}</div>
          <div class="column col2">{{family['emp_cnt']['value']}}</div>
        </div>
        <div class="row flex-row assets-info-element">
          <div class="column col1">{{family['soc_pay_recipient_cnt']['name']}}</div>
          <div class="column col2">{{family['soc_pay_recipient_cnt']['value']}}</div>
        </div>
      </div>
      <div class="info">
        <div class="row header">Риски:</div>
        {% for risk in family['risks'] %}
        <div class="row risks-info-element">{{risk}}</div>
        {% endfor %}
      </div>
  </div>
  <div class="col-40">
    <div class="info">
      <div class="row header">Общие сведения:</div>

      <div class="row flex-row income-info-element">
        <div class="column col1">{{family['salary']['name']}}</div>
        <div class="column col2 num">{{family['salary']['value']}}</div>
      </div>

      <div class="row flex-row income-info-element">
        <div class="column col1">{{family['social_payment']['name']}}</div>
        <div class="column col2 num">{{family['social_payment']['value']}}</div>
      </div>

      <div class="row flex-row income-info-element">
        <div class="column col1">{{family['per_capita_income']['name']}}</div>
        <div class="column col2 num">{{family['per_capita_income']['value']}}</div>
      </div>

      <div class="row flex-row income-info-element">
        <div class="column col1">{{family['total_income_asp']['name']}}</div>
        <div class="column col2 num">{{family['total_income_asp']['value']}}</div>
      </div>

      <div class="row flex-row income-info-element">
        <div class="column col1">{{family['per_capita_income_asp']['name']}}</div>
        <div class="column col2 num">{{family['per_capita_income_asp']['value']}}</div>
      </div>

      <div class="row flex-row income-info-element">
        <div class="column col1">{{family['income']['name']}}</div>
        <div class="column col2">{{family['income']['value']}}</div>
      </div>
    </div>
    <div class="info">
      <div class="row header">Рекомендации:</div>
      {% for rec in family['recommendations'] %}
      <div class="row rec-info-element">{{rec}}</div>
      {% endfor %}
    </div>
    <div class="info">
      <div class="row header">Социальные статусы (кол-во человек):</div>
      {% for key, value in family['social_status'].items() %}
      <div class="row rec-info-element">{{key}} {{value}}</div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endif %}
</body>
</html>